* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: monospace, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(122, 206, 255);
}

.container {
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.loader-box {
    background-color: chocolate;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.show-code-btn{
    border: 2px solid rgb(19, 1, 1);
    margin: 20px;
    padding: 7px 14px;
    cursor: pointer;
    text-decoration: none;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
  z-index: 1000;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  height: 400px;
  overflow: scroll;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
  font-size: 2.2rem;
}

.show-code-btn:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.main-heading{
    margin: 30px auto;
    text-align: center;
    color: #543a9e;
}

.main-area{
    margin: 10px auto;
    width: 80%;
    font-size: 1.3rem;
    font-weight: 900;
    text-align: center;
    color: #543a9e;
}

.main-area img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: grey;
}

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgb(73, 102, 184);
    justify-content: center;
    align-items: center;
}

footer .footer{
    color: #020214;
}




/* ............loader-1........... */
.loader-1 {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: rgb(42, 119, 163);
}

.loader-1 div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: loader-1 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader-1 div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.loader-1 div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.loader-1 div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes loader-1 {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}




/* ...............Loader-2................. */
.loader-2 {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





/* .............Loader-nth............... */
/* add the css for the Loader-nth... */


.black
{
    background: #000;
}
.white{
    border: 2px solid rgb(255, 255, 255);
    color: white;
}
.loader
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg,transparent,transparent 40%,#e5f403);
    animation: animate 2s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.loader:before
{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}
.loader:after
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    z-index: 1;
    background: linear-gradient(45deg,transparent,transparent 40%,#e5f403);
    filter: blur(30px);
}